@import "./mobile.css";

body {
  padding-top: 0%;
  font-family: "Lato", sans-serif;
  background-color: black;
  color: white;
  text-transform: capitalize;
}
.Page1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "header1Page1"
    "getStartButton"
}
.commonForPage1 {
  font-size: 5vh;
  text-align: center;
}
#header1Page1 {
  height: 20vh;
}
#getStartButton {
  justify-self: center;
  height: fit-content;
  width: fit-content;
}
.UserDetails{
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: auto;
}
.insideForm{
  padding-right: 10vw;
  padding-bottom: 2vh;
  padding-top: 2vh;
  margin-top: 2vh;

}
.hideButton{
    display: none;
}

#Done{
  background-color: black;
  color: white;
  padding: auto;
  font-size: larger;
}
.spacerForHeader{
  color: darkseagreen;
  font-size: 3vw;
  text-align: center;
}
.Page1Part3{
  text-align: center;
  font-size: larger;
}
.Page1Part3 div {
  font-size: 5vh;
}

#imageForLocation{
  padding-top:  10vh;
}

